:root {
  --c-tundora: #4d4d4d;
  --c-tundora-dark: #444444;
  --c-mine-shaft: #3c3c3c;
  --c-mine-shaft-dark: #333333;
  --c-mine-shaft-very-dark: #262626;
  --c-mine-shaft-light: #2f2f2f;
  --c-cod-gray: #1d1d1d;
  --c-red: #fa7272;
  --c-red-light: #f88;
  --c-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
